$primary-bg: rgb(4, 15, 22);
$secondary-bg: rgba(16, 30, 38, 60%);
$tertiary-bg: rgb(242, 242, 242, 50%);
$primary-text: rgb(242, 242, 242);
$tertiary-text: rgb(0, 0, 0);
$btn-danger: rgb(213, 32, 47);
$btn-success: rgb(156, 252, 151);
$primary-border: rgb(41, 149, 57);
$btn-edit: rgb(0, 130, 211);
$overlay-bg-secondary: rgb(256, 256, 256, 25%);
$overlay-bg-primary: rgb(156, 252, 151, 60%);
