.split-wise-app {
	width: 80%;
	margin: 20px auto;
}

.usersAndActions {
	margin-block: 50px;
}

.expenses-summary {
	font-size: 24px;
}

.add-user-section {
	font-size: 18px;
	max-width: 430px;

	button {
		margin: 0;
		width: 70px;
	}

	.save-btn {
		background-color: rgb(96, 228, 96);
	}

	.cancel-btn {
		background-color: rgb(245, 80, 80);
	}
}

// .user-action-buttons {
// 	margin: 0;

// }

.block {
	margin-block: 30px;
}

.suggestions {
	font-size: 18px;
	font-weight: 600;
}

.user-view {
	border: 3px solid black;
	border-radius: 5px;
	position: relative;
	padding: 15px;
	margin-bottom: 30px;
}

.delete-usr {
	position: absolute;
	top: 4px;
	right: 4px;
	border-radius: 50%;
	height: 20px;
	width: 20px;
	font-size: 8px;
	color: #000;
	font-weight: 600;
}

.add-user-btn {
	background-color: rgb(54, 230, 95);
	// color: #000;
}
