@import "../Common";

.user {
	margin-bottom: 20px;

	.add-expense-btn {
		background-color: $btn-success;
		margin: 0;
	}

	.price-summary {
		margin-top: 20px;
	}
}

.username {
	margin-bottom: 30px;
}

.user-transactions {
	.delete-btn {
		background-color: transparent;
	}
}

.price-summary {
	.total-text {
		padding: auto 0;
	}

	.total-amount,
	.balance {
		border: none;
		box-shadow: none;
		border-bottom: 2px solid $primary-text;
		margin-left: 15px;
	}

	.balance {
		&.positive {
			color: $primary-border;
			border-color: $primary-border;
		}

		&.negative {
			color: $btn-danger;
			border-color: $btn-danger;
		}
	}
}

.transactions-list-table {
	margin: 0 auto;
	border: 2px solid $primary-text;
	border-radius: 6px;
	width: 80%;
	margin-block: 20px;

	thead th {
		background-color: $primary-border;
	}

	tbody td {
		background-color: $primary-text;
		color: $tertiary-text;
	}
}
