.user {
	margin-bottom: 20px;

	.add-expense-btn {
		background-color: rgb(96, 228, 96);
		margin: 0;
	}

	.user-total-display {
		margin-top: 20px;
	}
}

.username {
	margin-bottom: 30px;
}

.user-transactions {
	.delete-btn {
		background-color: rgb(245, 80, 80);
	}
}
