@import "../../styles/Index";

.user {
	@include viewport("small") {
		margin-bottom: 0;
	}

	.add-expense-btn {
		background-color: $btn-success;
		margin: 0;
	}

	.price-summary {
		margin-top: 20px;
	}
}

.username {
	margin-bottom: 30px;
}

.user-transactions {
	.delete-btn {
		background-color: transparent;
	}
}

.price-summary {
	flex-direction: column;

	.total-price,
	.settlement-price {
		font-size: 20px;
		margin-bottom: 20px;
		align-items: end;

		@include viewport("small") {
			margin-bottom: 0;
			margin-top: 10px;
		}
	}

	.total-amount,
	.balance {
		border: none;
		box-shadow: none;
		border-bottom: 2px solid $primary-text;
		margin-left: 15px;
		font-size: 20px;

		@include viewport("small") {
			margin-left: 0;
			align-self: center;
		}
	}

	.balance {
		&.positive {
			color: $primary-border;
			border-color: $primary-border;
		}

		&.negative {
			color: $btn-danger;
			border-color: $btn-danger;
		}
	}
}

.transactions-list-table {
	margin: 0 auto;
	border: 2px solid $primary-text;
	border-radius: 6px;
	width: 80%;
	margin-block: 20px;

	@include viewport("small") {
		width: 100%;
	}

	thead th {
		background-color: $primary-border;
	}

	tbody td {
		background-color: $primary-text;
		color: $tertiary-text;
	}
}
