@import "../../styles/Index";

.overlay {
	z-index: 999;
	position: fixed;
	background-color: rgba(156, 252, 151, 60%);
	color: $primary-text;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	box-sizing: border-box;
	overflow: auto;

	@include viewport(small) {
		justify-content: center;
	}

	.overlay-content {
		height: fit-content;
		width: 50%;
		background-color: $primary-bg;
		border-radius: 18px;
		padding: 10px;

		@include viewport(small) {
			margin-bottom: 0;
			width: 85%;
		}
	}

	.actions {
		margin-block: 20px;
		width: 60%;

		@include viewport(small) {
			width: 90%;
			flex-direction: row;
			justify-content: space-evenly;
		}

		button {
			font-size: 14px;

			@include viewport(small) {
				font-size: 20px;
			}
		}

		.btn-update,
		.btn-confirm {
			background-color: $btn-success;
		}

		.btn-cancel {
			background-color: $btn-danger;
		}
	}
}

.transaction-edit-overlay,
.transaction-delete-confirm-overlay {
	.purchase-info,
	.purchase-amount {
		margin-block: 20px;
		width: 80%;

		@include viewport(small) {
			width: 100%;
		}
	}
}
